.elementor-442 .elementor-element.elementor-element-e477ed7 {
    padding: 0% 0% 0% 0%;
}

.elementor-442 .elementor-element.elementor-element-babc870:not(.elementor-motion-effects-element-type-background),
.elementor-442 .elementor-element.elementor-element-babc870>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-blocksy_palette_2);
}

.elementor-442 .elementor-element.elementor-element-babc870 {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: var(--e-global-color-blocksy_palette_1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0% 5% 0% 5%;
}

.elementor-442 .elementor-element.elementor-element-babc870>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-c44f916.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-442 .elementor-element.elementor-element-c44f916.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-442 .elementor-element.elementor-element-c44f916>.elementor-element-populated {
    padding: 25px 0px 025px 0px;
}

.elementor-442 .elementor-element.elementor-element-d6292ee .elementor-heading-title {
    font-size: 40px;
    color: #FFFFFF;
}

.elementor-442 .elementor-element.elementor-element-f77b178>.elementor-widget-container {
    margin: 0px 250px 0px 0px;
}

.elementor-442 .elementor-element.elementor-element-f77b178 {
    color: #FFFFFF;
}

.elementor-442 .elementor-element.elementor-element-6410b84 .elementor-button {
    background-color: var(--e-global-color-blocksy_palette_1);
}

.elementor-442 .elementor-element.elementor-element-6410b84 .elementor-button:hover,
.elementor-442 .elementor-element.elementor-element-6410b84 .elementor-button:focus {
    background-color: var(--e-global-color-blocksy_palette_8);
    color: var(--e-global-color-blocksy_palette_2);
}

.elementor-442 .elementor-element.elementor-element-6410b84>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-442 .elementor-element.elementor-element-6410b84 .elementor-button:hover svg,
.elementor-442 .elementor-element.elementor-element-6410b84 .elementor-button:focus svg {
    fill: var(--e-global-color-blocksy_palette_2);
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-01ac57e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-442 .elementor-element.elementor-element-01ac57e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-442 .elementor-element.elementor-element-6745cb2 .gallery-item {
    padding: 0 9px 9px 0;
}

.elementor-442 .elementor-element.elementor-element-6745cb2 .gallery {
    margin: 0 -9px -9px 0;
}

.elementor-442 .elementor-element.elementor-element-6745cb2 .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-442 .elementor-element.elementor-element-40ba06d {
    padding: 30px 0px 30px 0px;
    z-index: 1;
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-1a46c0a.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-1a46c0a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-3e5a83c {
    text-align: left;
}

.elementor-442 .elementor-element.elementor-element-3e5a83c img {
    width: 120px;
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-801a3dc.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-801a3dc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-a71f829 .elementor-heading-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-442 .elementor-element.elementor-element-9d00677 {
    --e-icon-list-icon-size: 0px;
    --icon-vertical-offset: 0px;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-icon {
    padding-inline-end: 0px;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>a {
    font-weight: 500;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-text {
    color: var(--e-global-color-blocksy_palette_3);
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-ab2ab0b.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-ab2ab0b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-af98246 .elementor-heading-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd {
    --e-icon-list-icon-size: 0px;
    --icon-vertical-offset: 0px;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-icon {
    padding-inline-end: 0px;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>a {
    font-weight: 500;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-text {
    color: var(--e-global-color-blocksy_palette_3);
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-bc-flex-widget .elementor-442 .elementor-element.elementor-element-9bb1aa7.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-9bb1aa7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-442 .elementor-element.elementor-element-a5bd359 .elementor-heading-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(21px/2);
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(21px/2);
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(21px/2);
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-21px/2);
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-21px/2);
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-icon i {
    color: var(--e-global-color-blocksy_palette_1);
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-blocksy_palette_1);
    transition: fill 0.3s;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-icon {
    padding-inline-end: 19px;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>a {
    font-weight: 400;
}

.elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-442 .elementor-element.elementor-element-2e54ea1 .elementor-icon-list-text {
    color: #3A4F66;
}

.elementor-442 .elementor-element.elementor-element-290fb27 .elementor-heading-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-442 .elementor-element.elementor-element-0ea8c98 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 15px;
    --grid-row-gap: 0px;
}

.elementor-442 .elementor-element.elementor-element-0ea8c98 .elementor-widget-container {
    text-align: left;
}

.elementor-442 .elementor-element.elementor-element-934a17d {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
}

.elementor-442 .elementor-element.elementor-element-7b09a7b {
    text-align: center;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-442 .elementor-element.elementor-element-1a46c0a>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-442 .elementor-element.elementor-element-801a3dc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>a {
        font-size: 13px;
    }

    .elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>a {
        font-size: 13px;
    }

    .elementor-442 .elementor-element.elementor-element-9bb1aa7>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-block-end: calc(12px/2);
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-block-start: calc(12px/2);
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-inline: calc(12px/2);
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items {
        margin-inline: calc(-12px/2);
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        inset-inline-end: calc(-12px/2);
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>a {
        font-size: 13px;
    }
}

@media(max-width:767px) {
    .elementor-442 .elementor-element.elementor-element-d6292ee .elementor-heading-title {
        font-size: 29px;
    }

    .elementor-442 .elementor-element.elementor-element-f77b178>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-442 .elementor-element.elementor-element-1a46c0a {
        width: 100%;
    }

    .elementor-442 .elementor-element.elementor-element-1a46c0a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-442 .elementor-element.elementor-element-3e5a83c img {
        width: 175px;
    }

    .elementor-442 .elementor-element.elementor-element-801a3dc {
        width: 50%;
    }

    .elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-9d00677 .elementor-icon-list-item>a {
        font-size: 15px;
    }

    .elementor-442 .elementor-element.elementor-element-ab2ab0b {
        width: 50%;
    }

    .elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-c1bb5cd .elementor-icon-list-item>a {
        font-size: 15px;
    }

    .elementor-442 .elementor-element.elementor-element-9bb1aa7>.elementor-element-populated {
        margin: 2px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-442 .elementor-element.elementor-element-3bf59e0 .elementor-icon-list-item>a {
        font-size: 15px;
    }

    .elementor-442 .elementor-element.elementor-element-934a17d {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-442 .elementor-element.elementor-element-c44f916 {
        width: 75.299%;
    }

    .elementor-442 .elementor-element.elementor-element-01ac57e {
        width: 24.612%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-442 .elementor-element.elementor-element-1a46c0a {
        width: 100%;
    }

    .elementor-442 .elementor-element.elementor-element-801a3dc {
        width: 33%;
    }

    .elementor-442 .elementor-element.elementor-element-ab2ab0b {
        width: 33%;
    }

    .elementor-442 .elementor-element.elementor-element-9bb1aa7 {
        width: 100%;
    }
}