.elementor-214 .elementor-element.elementor-element-37db29b:not(.elementor-motion-effects-element-type-background),
.elementor-214 .elementor-element.elementor-element-37db29b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../static/image/e65deffb-b500-4f15-bd08-185d2a645911.jpg");
    background-position: 4% 85%;
    background-size: cover;
}

.elementor-214 .elementor-element.elementor-element-37db29b>.elementor-background-overlay {
    background-color: var(--e-global-color-blocksy_palette_2);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-214 .elementor-element.elementor-element-37db29b>.elementor-container {
    min-height: 350px;
}

.elementor-214 .elementor-element.elementor-element-37db29b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-214 .elementor-element.elementor-element-e6dd4a7 {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-e6dd4a7 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-214 .elementor-element.elementor-element-8ad7d98 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 30px;
}

.elementor-214 .elementor-element.elementor-element-8ad7d98 {
    margin-top: 100px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-214 .elementor-element.elementor-element-ea58ef3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-ea58ef3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-6b57d6f .elementor-heading-title {
    text-transform: uppercase;
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-214 .elementor-element.elementor-element-6799cfc {
    text-align: left;
}

.elementor-214 .elementor-element.elementor-element-6799cfc .elementor-heading-title {
    font-size: 45px;
    line-height: 54px;
    color: #161735;
}

.elementor-214 .elementor-element.elementor-element-b435b37 {
    text-align: left;
    font-size: 17px;
}

.elementor-214 .elementor-element.elementor-element-cfe889e .elementor-button {
    background-color: var(--e-global-color-blocksy_palette_1);
    text-transform: uppercase;
    fill: var(--e-global-color-blocksy_palette_8);
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-214 .elementor-element.elementor-element-cfe889e .elementor-button:hover,
.elementor-214 .elementor-element.elementor-element-cfe889e .elementor-button:focus {
    background-color: var(--e-global-color-blocksy_palette_2);
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-214 .elementor-element.elementor-element-cfe889e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-214 .elementor-element.elementor-element-cfe889e {
    z-index: 20;
}

.elementor-214 .elementor-element.elementor-element-cfe889e .elementor-button:hover svg,
.elementor-214 .elementor-element.elementor-element-cfe889e .elementor-button:focus svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-bc-flex-widget .elementor-214 .elementor-element.elementor-element-8e18fd6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-8e18fd6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-4747ead img {
    border-radius: 8px 8px 8px 8px;
}

.elementor-214 .elementor-element.elementor-element-3f7bc04 {
    margin-top: 100px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-214 .elementor-element.elementor-element-49f3627.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-49f3627.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-214 .elementor-element.elementor-element-39f1cfe {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-39f1cfe .elementor-heading-title {
    text-transform: uppercase;
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-214 .elementor-element.elementor-element-ed5af52 {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-571a853 .gallery-item {
    padding: 0 15px 15px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.elementor-214 .elementor-element.elementor-element-571a853 .gallery {
    margin: 0 -15px -15px 0;
    font-size: 0;
}

.elementor-214 .elementor-element.elementor-element-571a853 .gallery-item img {
    border-radius: 8px 8px 8px 8px;
}

.elementor-214 .elementor-element.elementor-element-571a853 .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-dfe3648:not(.elementor-motion-effects-element-type-background),
.elementor-214 .elementor-element.elementor-element-dfe3648>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../static/image/84e0b784-9db8-4ce.jpg");
}

.elementor-214 .elementor-element.elementor-element-dfe3648>.elementor-background-overlay {
    background-color: var(--e-global-color-blocksy_palette_2);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-214 .elementor-element.elementor-element-dfe3648>.elementor-container {
    min-height: 373px;
}

.elementor-214 .elementor-element.elementor-element-dfe3648 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0% 0% 5% 0%;
}

.elementor-214 .elementor-element.elementor-element-6a1e50a {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-6a1e50a .elementor-heading-title {
    text-transform: uppercase;
    color: #FFFFFF;
}

.elementor-214 .elementor-element.elementor-element-6edaa29 {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-6edaa29 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-214 .elementor-element.elementor-element-ab2c0d6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -11%;
    margin-bottom: 4%;
}

.elementor-214 .elementor-element.elementor-element-ab2c0d6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-214 .elementor-element.elementor-element-6db54dd>.elementor-element-populated {
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-214 .elementor-element.elementor-element-04335d8.elementor-position-right .elementor-image-box-img {
    margin-left: 10px;
}

.elementor-214 .elementor-element.elementor-element-04335d8.elementor-position-left .elementor-image-box-img {
    margin-right: 10px;
}

.elementor-214 .elementor-element.elementor-element-04335d8.elementor-position-top .elementor-image-box-img {
    margin-bottom: 10px;
}

.elementor-214 .elementor-element.elementor-element-04335d8 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-214 .elementor-element.elementor-element-04335d8 .elementor-image-box-img img {
    border-radius: 8px;
    transition-duration: 0.3s;
}

.elementor-214 .elementor-element.elementor-element-04335d8 .elementor-image-box-title {
    font-size: 30px;
}

.elementor-214 .elementor-element.elementor-element-05da81a>.elementor-element-populated {
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9.elementor-position-right .elementor-image-box-img {
    margin-left: 10px;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9.elementor-position-left .elementor-image-box-img {
    margin-right: 10px;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9.elementor-position-top .elementor-image-box-img {
    margin-bottom: 10px;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9 .elementor-image-box-img img {
    border-radius: 8px;
    transition-duration: 0.3s;
}

.elementor-214 .elementor-element.elementor-element-8a9f8b9 .elementor-image-box-title {
    font-size: 30px;
}

.elementor-214 .elementor-element.elementor-element-f6a38e0>.elementor-element-populated {
    margin: 20px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8>.elementor-widget-container {
    border-radius: 8px 8px 8px 8px;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8.elementor-position-right .elementor-image-box-img {
    margin-left: 10px;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8.elementor-position-left .elementor-image-box-img {
    margin-right: 10px;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8.elementor-position-top .elementor-image-box-img {
    margin-bottom: 10px;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8 .elementor-image-box-img img {
    border-radius: 8px;
    transition-duration: 0.3s;
}

.elementor-214 .elementor-element.elementor-element-77c1ae8 .elementor-image-box-title {
    font-size: 30px;
}

@media(max-width:1024px) {

    .elementor-214 .elementor-element.elementor-element-37db29b:not(.elementor-motion-effects-element-type-background),
    .elementor-214 .elementor-element.elementor-element-37db29b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0% 0%;
    }
}

@media(max-width:767px) {

    .elementor-214 .elementor-element.elementor-element-37db29b:not(.elementor-motion-effects-element-type-background),
    .elementor-214 .elementor-element.elementor-element-37db29b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: bottom center;
    }

    .elementor-214 .elementor-element.elementor-element-8ad7d98 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 15px;
    }

    .elementor-214 .elementor-element.elementor-element-8ad7d98 {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .elementor-214 .elementor-element.elementor-element-6799cfc .elementor-heading-title {
        font-size: 30px;
        line-height: 1.3em;
    }

    .elementor-214 .elementor-element.elementor-element-3f7bc04 {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .elementor-214 .elementor-element.elementor-element-ed5af52 .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-214 .elementor-element.elementor-element-6edaa29 .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-214 .elementor-element.elementor-element-ab2c0d6 {
        margin-top: -37%;
        margin-bottom: 0%;
    }

    .elementor-214 .elementor-element.elementor-element-6db54dd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-214 .elementor-element.elementor-element-04335d8 .elementor-image-box-img {
        margin-bottom: 10px;
    }

    .elementor-214 .elementor-element.elementor-element-05da81a>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-214 .elementor-element.elementor-element-8a9f8b9 .elementor-image-box-img {
        margin-bottom: 10px;
    }

    .elementor-214 .elementor-element.elementor-element-f6a38e0>.elementor-element-populated {
        margin: 30px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-214 .elementor-element.elementor-element-77c1ae8 .elementor-image-box-img {
        margin-bottom: 10px;
    }
}

@media(min-width:768px) {
    .elementor-214 .elementor-element.elementor-element-ea58ef3 {
        width: 58.17%;
    }

    .elementor-214 .elementor-element.elementor-element-8e18fd6 {
        width: 41.791%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-214 .elementor-element.elementor-element-ea58ef3 {
        width: 100%;
    }

    .elementor-214 .elementor-element.elementor-element-8e18fd6 {
        width: 100%;
    }

    .elementor-214 .elementor-element.elementor-element-49f3627 {
        width: 100%;
    }
}